.root {
  background-color: #121212;
  color: #e0e0e0;

  form {
    margin-top: 1rem;

    input,
    textarea {
      background-color: #1e1e1e;
      border: 1px solid #333;
      color: #e0e0e0;

      &:focus {
        border-color: var(--primary-color);
        outline: none;
        box-shadow: 0 0 5px var(--primary-color);
      }
    }
  }
}
