.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #121212; // dark background for whole page
  color: #ccc; // light text

  .container {
    max-width: 74rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  a {
    color: var(--primary-color);
    font-weight: bold;
  }

  header {
    background: #1e1e1e; // dark header bg
    border: 1px solid #333; // darker border

    .container {
      padding-block: 1rem;
    }

    a {
      display: block;
      width: max-content;
      color: var(--primary-color);
    }
  }

  .logo {
    width: 7rem;
  }

  main {
    display: grid;
    align-items: center;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #eee;
  }

  footer {
    font-size: 0.8rem;
    background: #1e1e1e;
    border: 1px solid #333;

    a {
      color: rgb(255 255 255 / 0.6);
      font-weight: normal;
    }

    img {
      width: 4rem;
      height: auto;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
      flex-wrap: wrap;
      padding: 0;
    }

    li {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: #ccc;
    }
  }
}
