.root {
  @media screen and (width >= 768px) {
    padding: 1.5rem;
    width: 30rem;
    margin: 0 auto;
    background-color: #1e1e1e;  // dark background
    border: 1px solid #333;      // darker border
    border-radius: 0.5rem;
  }
}
